<header id="mainMenuNavbar" aria-label="Site Header"
    class="fixed border-sweed-dark w-full z-20 bg-sweed-gray top-0 left-0">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="md:flex md:items-center md:gap-12">
                <form action="/" method="get">
                    <button type="submit" class="flex flex-row text-sweed-color text-lg py-2 px-4">
                        <svg class="w-8 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408.83 342.29">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: currentColor;
                                    }
                                </style>
                            </defs>
                            <path class="cls-1"
                                d="M227.85,263.88l-22.33-22.33S206.22,132,256.45,79c0,0,99.07,104.65,25.12,291.62,0,0,96.27-26.51,143.72-149.3,0,0-55.82,14-93.49,58.6l1.39-32.09s67-54.41,115.82-51.62c0,0,0,114.41-157.67,195.34,0,0,61.39,23.72,125.57-5.58,0,0,5.58-8.37-46-15.35l19.53-19.53s54.42,18.13,64.19,33.48c0,0-85.12,71.16-199.53,15.35-80.93-60-173-16.74-173-16.74s40.46,25.11,113,12.56l30.7,12.55s-107.44,40.47-180-23.72c0,0,68.37-65.58,192.55-19.53,0,0-25.11-97.67-147.9-143.72,0,0,1.4,46.05,67,103.25L130.87,326s-60-50.23-67-129.76c0,0,127,2.79,196.74,164.64,0,0,61.39-129.76-4.19-247C256.45,113.88,223,164.11,227.85,263.88Z"
                                transform="translate(-45.76 -79)" />
                        </svg>
                        <span class="">SWEED</span>

                    </button>
                </form>
            </div>

            <div class="hidden md:block w-2/5">
                <nav aria-label="Site Nav">
                    <div class="bg-sweed-dark py-2 rounded h-10 pl-2 pr-3 flex flex-row text-sweed-white">
                        <svg class="w-6 h-6 mr-2 text-sweed-color" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                        </svg>
                        <input class="w-full bg-transparent outline-none focus:animate-pulse" type="text"
                            placeholder="Type your location">
                        <a class="w-6 h-6 ml-2 mt-[2px]" href="">
                            <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 419 418">
                                <defs>
                                    <style>
                                        .a {
                                            fill: currentColor;
                                        }
                                    </style>
                                </defs>
                                <path class="a"
                                    d="M250,41a10,10,0,0,0-10,10V73.78A176.51,176.51,0,0,0,73.78,240H50a10,10,0,0,0,0,20H73.78A176.51,176.51,0,0,0,240,426.22V449a10,10,0,0,0,20,0V426.22A176.51,176.51,0,0,0,426.22,260H449a10,10,0,0,0,0-20H426.22A176.51,176.51,0,0,0,260,73.78V51a10,10,0,0,0-10-10Zm0,86a10,10,0,0,0,10-10V93.82A156.51,156.51,0,0,1,406.18,240H383a10,10,0,0,0,0,20h23.18A156.51,156.51,0,0,1,260,406.18V383a10,10,0,0,0-20,0v23.18A156.51,156.51,0,0,1,93.82,260H116a10,10,0,0,0,0-20H93.82A156.51,156.51,0,0,1,240,93.82V117a10,10,0,0,0,10,10Z"
                                    transform="translate(-40 -41)" />
                                <circle class="a" cx="210.5" cy="208.5" r="55.5" />
                            </svg>
                        </a>
                    </div>
                </nav>
            </div>

            <div class="flex items-center gap-4">
                <div class="sm:flex sm:gap-4 h-10">
                    <form action="/register" method="get">
                        <button class="rounded-md bg-sweed-color hover:bg-sweed-color-light flex flex-row px-5 py-2 text-sm font-medium text-sweed-gray shadow"
                            href="register.html">
                            <span class="hidden sm:block">Register</span>
                            <svg class="w-6 sm:ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 440 440">
                                <defs>
                                    <style>
                                        .cls-1 {
                                            fill: currentColor;
                                        }
                                    </style>
                                </defs>
                                <path class="cls-1"
                                    d="M250,50a199.33,199.33,0,1,1-77.84,15.71A198.76,198.76,0,0,1,250,50m0-20C128.5,30,30,128.5,30,250a220,220,0,0,0,440,0c0-121.5-98.5-220-220-220Z"
                                    transform="translate(-30 -30)" />
                                <ellipse class="cls-1" cx="220" cy="361" rx="155.62" ry="69" />
                                <path class="cls-1"
                                    d="M250,332a199.47,199.47,0,0,1,141.84,59,200,200,0,0,1-283.68,0A199.47,199.47,0,0,1,250,332m0-20A219.49,219.49,0,0,0,81.13,391a220,220,0,0,0,337.74,0A219.49,219.49,0,0,0,250,312Z"
                                    transform="translate(-30 -30)" />
                                <circle class="cls-1" cx="220.5" cy="171.5" r="76.5" />
                                <path class="cls-1"
                                    d="M250.5,135A66.5,66.5,0,1,1,184,201.5,66.57,66.57,0,0,1,250.5,135m0-20A86.5,86.5,0,1,0,337,201.5,86.5,86.5,0,0,0,250.5,115Z"
                                    transform="translate(-30 -30)" />
                            </svg>
                        </button>
                    </form>

                    <div class="hidden sm:flex">
                        <form action="/cart" method="post">
                            <button
                                class="h-full flex flex-row rounded-md bg-sweed-white hover:bg-white px-5 py-2 text-sm font-medium text-sweed-gray"
                                type="submit">
                                <span class="hidden sm:block">Cart</span>
                                <svg class="w-6 sm:ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 363 295">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: currentColor;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a"
                                        d="M126.82,173l-12.89-33-5.45-14a9.12,9.12,0,0,0-8.35-6h-43c-5,0-9.08,4.48-9.08,10h0c0,5.52,4.07,10,9.08,10H94.15L107,173l7.81,20,48.83,125L169.13,332a9.11,9.11,0,0,0,8.35,6.05H345.26A9.1,9.1,0,0,0,353.6,332L359.05,318l48.84-125,2.36-6.05c2.58-6.6-1.82-13.95-8.34-13.95ZM339.27,318H183.46L134.63,193H388.1Z"
                                        transform="translate(-48 -120)" />
                                    <path class="a"
                                        d="M204,415a32,32,0,1,1,32-32A32,32,0,0,1,204,415Zm0-44a12,12,0,1,0,12,12A12,12,0,0,0,204,371Z"
                                        transform="translate(-48 -120)" />
                                    <path class="a"
                                        d="M328,415a32,32,0,1,1,32-32A32,32,0,0,1,328,415Zm0-44a12,12,0,1,0,12,12A12,12,0,0,0,328,371Z"
                                        transform="translate(-48 -120)" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="block md:hidden">
                    <button class="rounded bg-sweed-white p-2 text-sweed-gray transition hover:text-sweed-color">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<br><br>