<%- include('partials/header') %>

  <body class="bg-sweed-gray">
    <section class="bg-sweed-gray">
      <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
        <aside class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
          <img alt="Pattern" src="images/cannabis-background.jpg" class="absolute inset-0 h-full w-full object-cover" />
        </aside>

        <main aria-label="Main"
          class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:py-12 lg:px-16 xl:col-span-6">
          <div class="max-w-xl lg:max-w-3xl">
            <form action="/" method="get">
              <button class="block text-blue-600" type="submit">
                <span class="sr-only">Home</span>
                <img src="images/sweed-logo-green.svg" alt="Logo" class="h-8 sm:h-10">
              </button>
            </form>
            <h1 class="mt-6 text-2xl font-bold text-gray-900 dark:text-white sm:text-3xl md:text-4xl">
              <span class="text-sweed-color-light">Welcome back to SWEED 🗿</span>
            </h1>

            <p class="mt-4 leading-relaxed text-gray-500 text-sweed-white">
              <span class="text-sweed-color-light">Marijuana</span> is a dry, shredded green/brown mix of flowers,
              stems, seeds, and leaves from the <span class="text-sweed-color-light">Cannabis</span> sativa plant.
            </p>

            <form action="/login" method="post">

              <div class="col-span-6 mt-8">
                <label for="Email" class="block text-sm font-medium text-sweed-color-light">
                  Email
                </label>

                <input type="email" id="Email" name="email" value="<%= email %>"
                  class="p-1 mt-1 w-full rounded-md bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200" />
              </div>

              <div class="col-span-6 mt-4">
                <label for="Password" class="block text-sm font-medium text-sweed-color-light">
                  Password
                </label>

                <input type="password" id="Password" name="password"
                  class="p-1 mt-1 w-full rounded-md bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200" />
              </div>

              <div class="col-span-6 sm:flex sm:items-center sm:gap-4 mt-8">
                <button type="submit"
                  class="inline-block shrink-0 rounded-md border px-12 py-3 text-sm font-medium text-sweed-color-light bg-transparent transition hover:bg-sweed-color-light hover:text-sweed-gray focus:outline-none active:text-sweed-color-light">
                  Login
                </button>
                <div type="submit"
                  class="<% if(warning.length == 0) { %> hidden <% } else { %> inline-block <% } %> shrink-0 rounded-md border px-12 py-3 text-sm font-medium text-sweed-dark bg-sweed-red">
                  <%= warning %>
              </div>
              </div>
            </form>
            <div class="col-span-6 sm:flex sm:gap-2 mt-6">
              <form action="/register" method="get">
                <p class="mt-4 text-sm text-gray-500 text-sweed-white sm:mt-0">
                  Don't have account yet?
                  <button type="submit" class="text-sweed-color-light underline hover:text-sweed-white">Register
                    here
                  </button>.
                </p>
              </form>
            </div>
          </div>
        </main>
      </div>
    </section>

  </body>

  </html>